.badge-bscs {
	background-color: purple;
}

.badge-bsit {
	background-color: aquamarine;
}

.badge-blis {
	background-color: red;
}
.badge-online {
	background-color: blue;
}

.badge-cash {
	background-color: yellow;
}

.badge-full {
	background-color: green;
}

.badge-partial {
	background-color: red;
}

.badge-pill {
	border-radius: 10px;
}